

<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
     <script src="http://code.jquery.com/jquery-1.9.1.js">
</script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js">
</script>
    <script type="text/javascript" src="{% static 'bootstrap-tab.js' %}">  </script>
    <meta charset="UTF-8">
    <meta name="viewport" content=""width="device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    {% load static %}
    <title>baseTemplate</title>
</head>
<body>

    <div>
        {% include 'navbar.html' %}
        {% block content %}
        {% endblock content %}
    </div>

</body>
</html>