

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
     <script src="http://code.jquery.com/jquery-1.9.1.js">
</script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js">
</script>
<script type="text/javascript" src="{% static 'bootstrap-tab.js' %}">  </script>

    <meta charset="UTF-8">
    <meta name="viewport" content=""width="device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'cyberpunk-2077.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>
<body>

    <div>
        {% include 'navbarCP.html' %}
        {% block content %}
        {% endblock content %}
    </div>

</body>
</html>