{% extends "baseCP.html" %}

{% block content %}
    <hr>
    <h1 class="cyberpunk">Create a new character</h1>
    <section class="cyberpunk">
        {% load static %}
        <div style="display:inline-block;vertical-align:top;">
            <img src="{% static 'AI_Picture.png' %}"  alt="" height="200" width="200" />
         </div>
        <div style="display:inline-block;">
        <p class="cyberpunk inverse">
            Welcome stranger. Here you can create your very own Cyberpunk 2020 character <br>
        </p>
        </div>
    </section>
    <section class="cyberpunk black">
        <label for="number">Points left:</label>
        <p id="number"></p>
      <div style="display:inline-block;vertical-align:top;">
      <form id='p-form' style="max-width: 500px" method="post" enctype="multipart/form-data" >
         {% csrf_token %}
         {{ form }}
        <button type="submit" class="cyberpunk red">SUBMIT_</button>
       </div>
      <div style="display:inline-block;">
          <img src="{% static 'AI_Picture.png' %}"  alt="" height="200" width="200" />
      </div>
      <div style="display:inline-block;vertical-align:top;">
        <p id="info-text" class="cyberpunk inverse scannedv">
            Welcome {{ request.user.username }}. Here you can define stats for {{ characterdetail.name }}
        </p>
      </div>
    </form>
    </section>
        <script src="{% static 'CharacterBasicStats.js'%}"defer></script>
{% endblock content %}